<a href="https://colab.research.google.com/github/sankalpt30/projects/blob/main/Credit_Card_Fraud_Detection(ML).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing the Dependencies

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

Loading dataset to a Pandas Dataframe

In [16]:
credit_card_data = pd.read_csv('/content/creditcard.csv')

In [17]:
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0

In [18]:
credit_card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
3968,3617,1.134592,0.252051,0.488592,0.799826,-0.264819,-0.369918,-0.243365,0.049761,1.210818,...,-0.351115,-0.851463,0.186169,0.092463,0.020015,0.057976,-0.046611,0.012562,13.99,0.0
3969,3621,-1.338671,1.080974,1.291196,0.719258,0.101320,0.053896,0.001297,-0.917575,1.638510,...,0.498030,-0.483932,0.037686,0.053566,-0.560078,0.230423,-0.119911,0.321847,27.43,0.0
3970,3622,-0.339728,-2.417449,0.975517,2.537995,-1.720361,0.863005,0.032965,0.026764,2.487139,...,0.391639,0.264432,-0.735031,0.450594,0.310022,-0.231357,-0.049872,0.153526,730.32,0.0
3971,3623,-0.368639,0.947432,1.707755,0.932092,0.292956,0.189100,0.499330,0.132466,0.779412,...,-0.119045,0.056665,-0.172703,0.170073,0.139605,-0.420518,0.033794,0.005996,6.87,0.0
3972,3624,-0.663445,1.162921,1.508050,0.549405,0.231377,-0.106041,0.817977,-0.387026,1.488054,...,-0.420337,-0.361357,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
# dataset information
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3973 entries, 0 to 3972
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    3973 non-null   int64
 1   V1      3973 non-null   float64
 2   V2      3973 non-null   float64
 3   V3      3973 non-null   float64
 4   V4      3973 non-null   float64
 5   V5      3973 non-null   float64
 6   V6      3973 non-null   float64
 7   V7      3973 non-null   float64
 8   V8      3973 non-null   float64
 9   V9      3973 non-null   float64
 10  V10     3973 non-null   float64
 11  V11     3973 non-null   float64
 12  V12     3973 non-null   float64
 13  V13     3973 non-null   float64
 14  V14     3973 non-null   float64
 15  V15     3973 non-null   float64
 16  V16     3973 non-null   float64
 17  V17     3973 non-null   float64
 18  V18     3973 non-null   float64
 19  V19     3973 non-null   float64
 20  V20     3973 non-null   float64
 21  V21     3973 non-null   float64
 22  V22     3973 non-null   float64
 23  V23     3972 non-null   float64
 24  V24     3972 non-null   float64
 25  V25     3972 non-null   float64
 26  V26     3972 non-null   float64
 27  V27     3972 non-null   float64
 28  V28     3972 non-null   float64
 29  Amount  3972 non-null   float64
 30  Class   3972 non-null   float64
dtypes: float64(30), int64(1)
memory usage: 962.3 KB

In [21]:
#checking number of missing values in each column
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       1
V24       1
V25       1
V26       1
V27       1
V28       1
Amount    1
Class     1
dtype: int64

In [22]:
# distribution of legit transactions & fraudulent transactions
credit_card_data['Class'].value_counts()

0.0    3970
1.0       2
Name: Class, dtype: int64

This Dataset is highly unbalanced

0 --> Normal Transactions

1 --> Fraudulent Transactions

In [23]:
# separating data for analysis
legit = credit_card_data[credit_card_data.Class == 0]
fraud = credit_card_data[credit_card_data.Class == 1]

In [24]:
print(legit.shape)
print(fraud.shape)

(3970, 31)
(2, 31)

In [25]:
# statistical measures of the data
legit.Amount.describe()

count    3970.000000
mean       64.899597
std       213.612570
min         0.000000
25%         2.270000
50%        12.990000
75%        54.990000
max      7712.430000
Name: Amount, dtype: float64

In [26]:
fraud.Amount.describe()

count      2.000000
mean     264.500000
std      374.059487
min        0.000000
25%      132.250000
50%      264.500000
75%      396.750000
max      529.000000
Name: Amount, dtype: float64

In [27]:
# compare the values for both transactions
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,1638.828463,-0.332459,0.308935,0.837446,0.011432,-0.029468,0.053530,0.147357,-0.071642,0.056211,...,0.059567,0.010282,-0.082957,-0.058743,0.029114,0.095244,-0.012637,0.044658,0.002668,64.899597
1.0,439.000000,-2.677884,-0.602658,-0.260694,3.143275,0.418809,-1.245684,-1.105907,0.661932,-1.520521,...,1.114625,0.589464,0.200214,0.455377,0.013198,0.162159,0.016239,0.004186,-0.053756,264.500000

Under Sampling

Build a sample dataset containing similar distribution of normal transaction and fraudulent transaction

Number of Fraudulent transaction --> 163

In [28]:
legit_sample = legit.sample(n=163)

Concatenating two Dataframes

In [29]:
new_dataset = pd.concat([legit_sample, fraud], axis = 0)

In [30]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
3153,2729,-1.753325,1.206679,2.113332,0.800421,-0.129349,0.038541,0.747522,-1.025204,1.517721,...,0.148641,0.944147,-0.228204,0.422821,-0.318327,-0.476384,-2.409573,-0.921618,1.55,0.0
1645,1271,-3.438617,-2.357982,0.307655,1.007622,1.742124,-0.198183,0.527978,-0.031639,0.632235,...,-0.502215,0.748089,2.191321,-0.902348,0.369987,-0.426451,0.260854,-0.720549,142.13,0.0
2208,1732,-1.281371,0.364319,1.215915,0.756683,0.964225,-0.888641,-0.004815,-0.033648,-0.378299,...,-0.194113,-0.373185,-0.000018,0.074524,-0.668341,0.181969,0.141957,0.370891,2.28,0.0
2124,1634,1.075019,-0.257287,1.195543,1.735827,-0.822148,0.570728,-0.617130,0.356204,1.443170,...,-0.428928,-0.824378,0.098087,0.046949,0.382196,-0.505682,0.082644,0.026379,12.61,0.0
2704,2243,1.226045,-0.022482,0.506098,0.855552,-0.672954,-0.741619,-0.106891,-0.062205,0.662056,...,-0.245534,-0.594098,0.026694,0.394406,0.408814,0.272851,-0.031415,0.010616,9.44,0.0

In [31]:
new_dataset['Class'].value_counts()

0.0    163
1.0      2
Name: Class, dtype: int64

In [32]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,1877.06135,-0.295505,0.263672,0.880475,0.021616,-0.022270,0.009026,0.044587,-0.167224,0.096821,...,0.072262,-0.003123,-0.037994,-0.014938,-0.019583,0.076903,-0.034510,0.034183,0.002815,54.876564
1.0,439.00000,-2.677884,-0.602658,-0.260694,3.143275,0.418809,-1.245684,-1.105907,0.661932,-1.520521,...,1.114625,0.589464,0.200214,0.455377,0.013198,0.162159,0.016239,0.004186,-0.053756,264.500000

Splitting the data into Features & Targets

In [33]:
X = new_dataset.drop(columns='Class', axis=1)
Y = new_dataset['Class']

In [34]:
print(X)

      Time        V1        V2        V3        V4        V5        V6  \
3153  2729 -1.753325  1.206679  2.113332  0.800421 -0.129349  0.038541
1645  1271 -3.438617 -2.357982  0.307655  1.007622  1.742124 -0.198183
2208  1732 -1.281371  0.364319  1.215915  0.756683  0.964225 -0.888641
2124  1634  1.075019 -0.257287  1.195543  1.735827 -0.822148  0.570728
2704  2243  1.226045 -0.022482  0.506098  0.855552 -0.672954 -0.741619
...    ...       ...       ...       ...       ...       ...       ...
3591  3069 -0.302521  0.447474 -0.495757 -3.214799  2.705041  2.762440
2875  2431 -0.343128  0.615676  0.769524 -2.340985  0.603103 -0.714567
1195   927  1.040094 -1.719288  1.556730 -0.080816 -2.156667  0.754853
541    406 -2.312227  1.951992 -1.609851  3.997906 -0.522188 -1.426545
623    472 -3.043541 -3.157307  1.088463  2.288644  1.359805 -1.064823

            V7        V8        V9  ...       V20       V21       V22  \
3153  0.747522 -1.025204  1.517721  ... -0.062879  0.148641  0.944147
1645  0.527978 -0.031639  0.632235  ... -1.326723 -0.502215  0.748089
2208 -0.004815 -0.033648 -0.378299  ...  0.094171 -0.194113 -0.373185
2124 -0.617130  0.356204  1.443170  ... -0.286207 -0.428928 -0.824378
2704 -0.106891 -0.062205  0.662056  ... -0.198482 -0.245534 -0.594098
...        ...       ...       ...  ...       ...       ...       ...
3591  0.593847  0.556451  0.697720  ...  0.156089  0.007343  0.250886
2875  1.030784 -0.224229  0.680863  ...  0.046698  0.053958  0.487707
1195 -1.708567  0.360145  1.174452  ...  0.305758  0.307719  0.990798
541  -2.537387  1.391657 -2.770089  ...  0.126911  0.517232 -0.035049
623   0.325574 -0.067794 -0.270953  ...  2.102339  0.661696  0.435477

           V23       V24       V25       V26       V27       V28  Amount
3153 -0.228204  0.422821 -0.318327 -0.476384 -2.409573 -0.921618    1.55
1645  2.191321 -0.902348  0.369987 -0.426451  0.260854 -0.720549  142.13
2208 -0.000018  0.074524 -0.668341  0.181969  0.141957  0.370891    2.28
2124  0.098087  0.046949  0.382196 -0.505682  0.082644  0.026379   12.61
2704  0.026694  0.394406  0.408814  0.272851 -0.031415  0.010616    9.44
...        ...       ...       ...       ...       ...       ...     ...
3591 -0.331600  1.009952  0.233730 -0.824471  0.241305 -0.020359    1.00
2875 -0.406704 -0.500383  0.142168 -0.804507  0.231795 -0.032959    1.00
1195 -0.352216 -0.050625  0.535660  0.117422  0.074743  0.048505  150.00
541  -0.465211  0.320198  0.044519  0.177840  0.261145 -0.143276    0.00
623   1.375966 -0.293803  0.279798 -0.145362 -0.252773  0.035764  529.00

[165 rows x 30 columns]

In [35]:
print(Y)

3153    0.0
1645    0.0
2208    0.0
2124    0.0
2704    0.0
       ...
3591    0.0
2875    0.0
1195    0.0
541     1.0
623     1.0
Name: Class, Length: 165, dtype: float64

Split the data into Training data & Testing Data

In [36]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [37]:
print(X.shape, X_train.shape, X_test.shape)

(165, 30) (132, 30) (33, 30)

Model Training

Logistic Regression

In [38]:
model = LogisticRegression()

In [39]:
#training the logistic regression model with training data
model.fit(X_train, Y_train)

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

Model Evaluation

Accuracy Score

In [40]:
# Accuracy on training data
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [41]:
print('Accuracy on Training data : ', training_data_accuracy)

Accuracy on Training data :  1.0

In [42]:
# Accuracy on test data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [43]:
print('Accuracy on Test data : ', test_data_accuracy)

Accuracy on Test data :  1.0